.ContactContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    margin: auto;
    color: white;
    background-color: black;

    }
    .ContactContainer a{
       color: initial;
        }
    .ContactContainer p{
      font-size: 1em;
      margin: 0px;
      font-weight: bold;
      text-align: center;
    }
    .ContactContainer .me{
        padding: 1em;
        border-bottom: solid rgba(255, 0, 0, 0.378);
      }
    
      #social-test {
        text-align: center;
        font-size: 30px;
       
      }
      .ContactContainer .social{
        display: flex;
        justify-content: center;
    }
      .ContactContainer  li {
            display: flex;
            flex-direction: column;
            justify-content: center;
          color: rgba(167, 146, 129, 0.6);
          list-style-type: none;
          width: 50px;
          height: 50px;
          border: 1px solid rgba(255, 0, 0, 0.186);
          cursor: pointer;
          margin-right: 1em;
          transition: ease .3s;
        }
    
        .ContactContainer .social:hover > li {
        opacity: 0.5;
      }
      
      .ContactContainer .social:hover > li:hover {
        opacity: 1;
      }
      .ContactContainer a:hover{
        color:red;
         }
         .ContactContainer a{
            color: rgb(255, 255, 255);
             }
    
       