.homeScreenContainer{
   display: flex;
   flex-direction: column;
   position: relative;
}
.greetingHomeScreen{
    background-image: url(../assets/AR-en-20220606-popsignuptwoweeks-perspective_alpha_website_large.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    text-align: center;
    
}
.greetingHomeScreen .GreetingPlusInput{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    color: white;
    width: 70%;
    margin: auto;
    margin-top: -5em;
    
}
.greetingHomeScreen .GreetingPlusInput div p{
margin-top: -1em;
}
.greetingHomeScreen .GreetingPlusInput h1{
    padding: 0em 1em;
    font-size: 4rem;
}
.our-story-card-subtitle{
    font-size: 1.625rem;
}
.emailformtitle{   
     font-size: 1.25rem;
}
.homeScreenContainer .EnterEmailInputBtn{
    display: flex;
    justify-content: space-between;
    margin: 0px auto;
    width: 65%;
    position: relative;
}
.homeScreenContainer .EnterEmailInputBtn .InputCont{
    width: 70%;
    
}
.homeScreenContainer .EnterEmailInputBtn .InputCont input{
    width: 100.5%;
    height: 4rem;
    border: none;
    padding: 0% 0em;
    outline: none;
    border-radius: 5px;

}
.homeScreenContainer .EnterEmailInputBtn .btnCont {
    
    width: 30%;
}
.homeScreenContainer .EnterEmailInputBtn .btnCont button{
    border: none;
    width: 100%;
    height: 4rem;
    color: white;
    font-size: 1.625rem;
    border-radius:0px 5px 5px 0px;
    background-color: red;
}
.homeScreenContainer .WrongEmail{
    display: block;
    position: absolute;
    top: 3.8em;
    color: #ffa00a;
    font-weight: bold;
    margin-top: 0px;
}
.homeScreenContainer .greetingHomeScreen .GreetingPlusInput .WrongEmail p 
 {
    margin-top: 0px;
}
.homeScreenContainer .undefinedEmail{
    display: none;
}
@media only screen and (max-width: 768px) {
 
     .greetingHomeScreen .GreetingPlusInput{
         width: 100%;
         margin-top: 4em;
         justify-content: flex-start;

     }
  
     .greetingHomeScreen .GreetingPlusInput h1{
         padding: 0em 0em;
         font-size: 3.5rem;
     }
     .homeScreenContainer .EnterEmailInputBtn{
         width: 95%;
     }
     .homeScreenContainer .EnterEmailInputBtn .InputCont{
         width: 100%;  
     }
    
     .homeScreenContainer .EnterEmailInputBtn .btnCont button{
         font-size: 1.2rem;
     }
  }