.loginBodyContainer{
    display: flex;
    flex-direction: column;
    background-image: url(../assets/AR-en-20220606-popsignuptwoweeks-perspective_alpha_website_large.jpg);
    height: 100vh;
    background-color: black;
    color: white;
    min-height: 45em;
}
.loginBodyContainer .contLogin {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
     margin: auto;
    background-color: black;
    border-radius: 5px;
    padding: 1em 3.2em;
    width: 15em;
    height: 26em;
    margin-top: 10em;
    margin-bottom: 10em;
}
.loginBodyContainer .contLogin .InputsCont{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.loginBodyContainer .contLogin .InputsCont input{
  height: 3em;
  width: 16em;
  margin: 0.3em auto;
  border: none;
  border-radius: 2px;
  padding: 0% 1em;
  outline: none;
  background-color: rgba(80, 80, 80, 0.705);
  color: white;
}

.loginBodyContainer .contLogin .buttonCont button{
border: none;
width: 100%;
background-color: #e50914;
color: white;
padding: 1em 0em;
margin: 1em auto;
border-radius: 2px;
}
.loginBodyContainer .LinkToRegis {
    color: #e50914;
}
.loginBodyContainer .ForgotPassContainer{
    display: none;
    font-size: 0.8em;
    text-align: center;
}
.loginBodyContainer .ForgotPassContainer button{
border: none;
background-color: transparent;
color: white;
text-decoration: underline;
font-size: 1em;

}
.loginBodyContainer .WrongEmailLogin {
    display: none;

}
.loginBodyContainer .WrongEmailLogin p{
    margin: 0%;
    padding: 0%;
    color: #ffa00a;
    font-size: 0.8em;

}
.loginBodyContainer .footerLogin button{
    border: none;
background-color: transparent;
color: white;
text-decoration: underline;
color: #e50914;

font-size: 1em;
}