/* main menu styling*/
.Main-menu{
    background-color: rgb(0, 0, 0);
}


/* styling for bilboard intro*/
.previewMenu{
    height: 85vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}



/* carosel styling*/
.carouselContainer{
    position: relative;
    color: white;

}

.carusel{
    display: flex;
    position: relative;
    overflow-x: scroll;
    width: 100%;
    scrollbar-width: none; 
    -ms-overflow-style: none;  
    transition: ease-in-out;
}
.carusel::-webkit-scrollbar { 
    width: 0;
    height: 0;
}


/* moviecards styling*/


.MovieCardCont{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.HiddenMenu{
    width: 93%;

}
.MovieCardCont:hover{
    transform: scale(1.5);
}

.movieCardImgCont{
    padding-right: 1em;
}


.movieCardImgCont img{
    width: 14em;
    border-radius: 5px;

}



.categories .ScrollBtn{
z-index: 1;
}

.categories .ScrollBtn:hover{
    background-color: rgba(0, 0, 0, 0.384);
    transform: scale(1.1);
    }
    .categories .ScrollBtn.Left{
        position: absolute;
        bottom: 0px;
        height: 73%;
        display: flex;
        }
    .categories .ScrollBtn.Right{
        position: absolute;
        bottom: 0px;
        right: 5px;
        height: 73%;
        display: flex;
        
    }
    .categories .ScrollBtn button{
        border: none;
        background-color: transparent;
        color: white;
    }