.Main-menu{
    background-color: black;
    height: 100vh;
}
.preview-menu{
width: 100%;
}

.carusel{
    display: flex;
    overflow: hidden;
}



.previewMenu img{
    height: 80 vh;
    width: 100%;
}












/* moviecards styling*/
.movieCardImgCont img{
    width: 10em;
}