/* main menu styling*/
.Main-menu{
    background-color: rgb(0, 0, 0);
    height: 100vh;
}






/* styling for bilboard intro*/
.previewMenu img{
    height: 85vh;
    width: 100%;
}



/* carosel styling*/



.carusel{
    display: flex;
    overflow: hidden;
}



/* moviecards styling*/
.movieCardImgCont img{
    width: 10em;
}