.NavBarContainerMain{
    background-color: black;
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: white;
    padding: 0.5em 0em;
    font-size: 0.8em;
    position: fixed;
    top: 0px;
    z-index: 1;
    
}
.NavBarContainerMain .link{
   color: white;
   text-decoration: none;
}
.NavBarContainerMain .ImgCont img{
width: 7em;
}
.NavBarContainerMain .imghomeseriesmoviescont{
    display: flex;
    flex-direction: row;
}
.NavBarContainerMain .imghomeseriesmoviescont div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 1em;
}
/* managing search bar and profile info*/
.NavBarContainerMain .contSearchProfileLog{
    display: flex;
    margin-right: 1em;
}

.NavBarContainerMain .contSearchProfileLog  .searchBarCont{
    display: flex;
}
.NavBarContainerMain .contSearchProfileLog  div{

}
.NavBarContainerMain .lupita{
display: flex;
flex-direction: column;
justify-content: center;
}
.NavBarContainerMain .lupita img{
    width: 1.5em;
    }

.NavBarContainerMain .contSearchProfileLog .inputCont{
    display: flex;
flex-direction: column;
justify-content: center;
}
.NavBarContainerMain .contSearchProfileLog .inputCont input{
background-color: transparent;
border: none;
outline: none;
font-size: 1.4em;
width: 0em;
color: white;

}

@keyframes searchBarAnimacionShow {
    100%{
        width: 11em;
        visibility: visible;
    }
}
 

@keyframes searchBarAnimacionHide{
    0%{
        width: 11em;
    }
    100%{
        width: 0em;
    }
}
/* managing dropdown stuff*/
.NavBarContainerMain .Profile {
    display: flex;
    flex-direction: row;
    margin-right: 2em;
    }
.NavBarContainerMain .Profile img{
width: 2.5em;
margin-top: 4px;
}
.NavBarContainerMain .Profile .arrow{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 0.3em;
    transform: rotate(90deg)
    }
    .NavBarContainerMain .Profile .arrow img{
         width: 0.5em;
        }




.contSearchProfileLog{
    border: solid red;
}
.NavBarContainerMain  .profileDropDown{
    position: relative;
    z-index: 1;
   
}
.NavBarContainerMain .profileDropDown .DropDown{
    display: none;
    flex-direction: column;
    justify-content: flex-end;
    position: absolute;
    top: 3.4em;
    right: 2em;
    height: 20em;
    width: 10em;
    background-color: black;
}
