.NavBarSignInRegisterContainer{
    display: flex;
    justify-content: space-between;
    padding: 1em 4em;
    position: absolute;
    margin-bottom: 4em;
}
.NavBarSignInRegisterContainer .ImgCont img{
width: 12em;
}
