.NavBarContainerMain{
    background-color: black;
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: white;
    padding: 0.7em 0em;
    font-size: 1em;
    position: fixed;
    top: 0px;
    z-index: 5;
    
}
.NavBarContainerMain .link{
   color: white;
   text-decoration: none;
}
.NavBarContainerMain .ImgCont img{
width: 7em;
}
.NavBarContainerMain .imghomeseriesmoviescont{
    display: flex;
    flex-direction: row;
}
.NavBarContainerMain .imghomeseriesmoviescont div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 1em;
}
/* managing search bar and profile info*/
.NavBarContainerMain .contSearchProfileLog{
    display: flex;
    margin-right: 1em;
}

.NavBarContainerMain .contSearchProfileLog  .searchBarCont{
    display: flex;
}
.NavBarContainerMain .contSearchProfileLog  div{

}
.NavBarContainerMain .lupita{
display: flex;
flex-direction: column;
justify-content: center;
margin-right: 0.5em;
}
.NavBarContainerMain .lupita img{
    width: 1.5em;
    }

.NavBarContainerMain .contSearchProfileLog .inputCont{
    display: flex;
}
.NavBarContainerMain .contSearchProfileLog .inputCont input{
background-color: transparent;
border: none;
outline: none;
font-size: 1.4em;
color: white;
width: 0em;
}

@keyframes searchBarAnimacionShow {
    100%{
        width: 11em;
    }
}
 

@keyframes searchBarAnimacionHide{

    100%{
        width: 0em;
    }
}
/* managing dropdown stuff*/
.NavBarContainerMain .Profile {
    display: flex;
    flex-direction: row;
    margin-right: 2em;
    width: 100%;
    }
.NavBarContainerMain .Profile img{
border-radius: 5px;
width: 2.5em;
}
.NavBarContainerMain .Profile .arrow{
    display: flex;
    transform: rotate(270deg);
    width: 0.7em;
    height: 0.7em;
    margin-top: 1em;
    margin-left: 0.3em;
    }
    .NavBarContainerMain .Profile .arrow img{
         width: 0.7em;
         height: 0.7em;
        }


.NavBarContainerMain  .profileDropDown{
    position: relative;
    z-index: 1;
   
}
.NavBarContainerMain .profileDropDown .DropDown{
    display: none;
    flex-direction: column;
    justify-content: flex-end;
    position: absolute;
    top: 2.8em;
    right: 2em;
    height: fit-content;
    width: 13em;
    background-color: rgb(54, 54, 54);
    border-radius: 5px;
}
.NavBarContainerMain .profileDropDown .DropDown .All{
    font-size: 1em;
    padding: 0em 1em;
   }
.NavBarContainerMain .profileDropDown .DropDown img{
 width: 1.5em;
}
.NavBarContainerMain .profileDropDown .DropDown .once{
    display: flex;
}
.NavBarContainerMain .profileDropDown .DropDown .once div{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.NavBarContainerMain .profileDropDown .DropDown .once div p{
    margin-left: 0.5em;
}
.NavBarContainerMain .profileDropDown .DropDown .Users{
  padding-top: 1em;
}
.NavBarContainerMain .profileDropDown .DropDown .Users img{
    width: 3em;
    border-radius: 5px;
}
.NavBarContainerMain .profileDropDown .DropDown .AccountHelp{
border-top:2px solid rgb(128, 128, 128);
border-bottom: 2px solid rgb(128, 128, 128);

padding: 0%;
}
.NavBarContainerMain .profileDropDown .DropDown .logOut{
padding: 1em 0em;
display: flex;
justify-content: center;

}
.NavBarContainerMain .profileDropDown .DropDown .logOut button{
    border: none;
    background-color: transparent;
    color: white;
    font-size: 1em;
    }


    @media only screen and (max-width: 768px) {
        .NavBarContainerMain{
            
        }
    
     }