.NavBarHomeContainer{
    display: flex;
    justify-content: space-between;
    padding: 1em 4em;
}
.NavBarHomeContainer .ImgCont img{
width: 12em;
}
.NavBarHomeContainer .buttonContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.NavBarHomeContainer .buttonContainer button{
    border: none;
    background-color: #e50914;
    color: white;
    font-size: 1em;
    padding: 0.6em 1.5em;
    border-radius: 5px;
 
}
.link-style{
    color: white;
    text-decoration: none;
}
@media only screen and (max-width: 600px) {
 
    .NavBarHomeContainer{
        display: flex;
        justify-content: space-between;
        padding: 1em 0.5em;
    }
}