.RegisterBodyContainer{
    display: flex;
    flex-direction: column;
    background-image: url(../assets/AR-en-20220606-popsignuptwoweeks-perspective_alpha_website_large.jpg);
    height: 100vh;
    background-color: black;
    color: white;
}
.RegisterBodyContainer .contRegister {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
     margin: auto;
    background-color: black;
    border-radius: 5px;
    padding: 1em 3.2em;
    width: 15em;
    height: 26em;
}
.RegisterBodyContainer .contRegister .InputsCont{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.RegisterBodyContainer .contRegister .InputsCont input{
  height: 3em;
  width: 16em;
  margin: 0.3em auto;
  border: none;
  border-radius: 2px;
  padding: 0% 1em;
  outline: none;
  background-color: rgba(80, 80, 80, 0.705);
  color: white;
}

.RegisterBodyContainer .contRegister .buttonCont button{
border: none;
width: 100%;
background-color: #e50914;
color: white;
padding: 1em 0em;
margin: 1em auto;
border-radius: 2px;
}