.Search-Menu-container{
    padding: 6em 1em;
    background-color: rgb(65, 65, 65);
    min-height: 100vh;
}
.Search-menu{
    display: grid;
    grid-gap: 0em 0em;
    grid-template-columns: repeat(auto-fill, minmax(16em, 1fr));
 

}
.SearchInSearch .NavBarContainerMain .inputCont input{
    width: 11em;
}
@keyframes searchBarAnimacionShow {
    0%{ width: 1em;}
    100%{
        width: 11em;
        visibility: visible;
    }
}
.Search-menu .MovieCardCont .movieCardImgCont img{
    width: 16em;
}
.Search-menu .MovieCardCont {
    position: relative;
    width: 16em;
    height: 13em;
    justify-content: center;
}
.Search-menu .MovieCardCont .title{
    position: absolute;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 9em;
}
.Search-menu .MovieCardCont .HiddenMenu {
    width: 100%;
    height: 6em;
    margin-top: -10px;
}