.Search-Menu-container{
    padding: 6em 1em;
    background-color: #141414;
    min-height: 100vh;
}
.Search-Menu-container h2{
    color: white;
}
.Search-menu{
    display: grid;
    grid-gap: 0em 0em;
    grid-template-columns: repeat(auto-fill, minmax(16em, 1fr));


}
.SearchInSearch .NavBarContainerMain .inputCont input{
    width: 11em;
}
@keyframes searchBarAnimacionShow {
    0%{ width: 1em;}
    100%{
        width: 11em;
        visibility: visible;
    }
}

.Search-menu  .MovieCardCont .backGround{
    width: 16em;
    height: 8em;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 5px;


}

.Search-menu .MovieCardCont .movieCardImgCont img{
    width: 16em;
}
.Search-menu .MovieCardCont {
    width: 16em;
    height: 14em;
    justify-content: center;
}
.Search-menu .MovieCardCont .title{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 9em;
    max-width: 15em;
}
.Search-menu .MovieCardCont .HiddenMenu {
    width: 100%;
    height: 6em;
    margin-top: -2px;
}