.Search-Menu-container{
    padding: 6em 1em;
    background-color: #141414;
    min-height: 100vh;
}
.Search-Menu-container h2{
    color: white;
    font-size: 2.5em;
}
.Search-menu{
    display: grid;
    grid-gap: 0em 0em;
    grid-template-columns: repeat(auto-fill, minmax(18em, 1fr));


}
.SearchInSearch .NavBarContainerMain .inputCont input{
    width: 11em;
}
@keyframes searchBarAnimacionShow {
    0%{ width: 1em;}
    100%{
        width: 11em;
        visibility: visible;
    }
}

.Search-menu  .MovieCardCont .backGround{
    width: 18em;
    height: 11em;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 5px;


}

.Search-menu .MovieCardCont .movieCardImgCont img{
    width: 16em;
}
.Search-menu .MovieCardCont {
    width: 16em;
    height: 16em;
    justify-content: center;
}
.Search-menu .MovieCardCont .title{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 9em;
    margin-left: 0.5em;
    max-width: 13em;
    font-size: 1.2em;
}
.Search-menu .MovieCardCont .HiddenMenu {
    width: 15em;
    height: 8em;
    margin-top: -2px;
    color: white;
    font-size: 1.2em;
}


@media only screen and (max-width: 768px) {
    .SearchInSearch .NavBarContainerMain .inputCont input{
        width: 7em;
    }
 
    @keyframes searchBarAnimacionShow {
        0%{ width: 1em;}
        100%{
            width: 7em;
            visibility: visible;
        }
    }

}