.SeriesAndFilter{
    display: flex;
    justify-content: space-between;
}
.SelectorGenero{
    position: relative;
}
.LabelForFilter{
    width: 8em;
    text-align: center;
    margin-top: 3em;
    color: white;
    border: 2px solid white;

}
.genreOptions{
    position: absolute;
    display: none;
    width: 14em;
    height: 5em;
    left: -7.7em;
    top: 6.7em;
    background-color: rgb(0, 0, 0);
    padding: 1em;
    border-radius: 5px;
}
.genreOptions button{
border: none;
background-color: transparent;
color: white;
font-size: large;
margin-right: 1em;
margin-top: 0.3em;
}